
/*HEADER STYLING*/
header {
    font-size:36px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, blue, rgb(99, 0, 192));
    height:75px;
    width:auto;
    display:flex;
    justify-content:center;
    line-height: 75px;
}

/*LEFT COLUMN STYLING*/
input {
    width: 98%;
    height: 25px;
}
.button {
    background-color:dodgerblue;
    color: white;
    border: none;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35px;
}
.button:hover {
    background-color:white;
    color:dodgerblue;
    border: dodgerblue solid;
}

.searchModule {
    border-bottom: grey solid;
}

.bodyOfPage {
    display:inline-flex;
}

.cityButtons {
    background-color: grey;
    color: white;
    border: none;
    width: 100%;
    margin-top: 15px;
    height: 35px;
}
.columnOfCitiesAndSearch {
    display:table-column;
    flex-direction: row;
    width: 100%;
}


/*SELECTED CITY WEATHER STYLING*/
.cityAndForecastData {
    display: table-column;
    width:100%;
    border: grey;
    margin-left:25px;
    margin-top: 10px;
}

.selectedCityCurrentWeather {
    border: black solid 1px;
}

.selectedCityCurrentWeather h4 {
    font-weight:normal;
}

.uvBox {
    display:table-row;
}

.uvIndexBox {
    background-color:yellow;
}

.uvIndexBoxMedium {
    background-color:orange;
}

.uvIndexBoxHigh {
    background-color: red;
}

/*5 DAY FORCAST STYLING*/
.miniForecast {
    background-color: midnightblue;
    color:mintcream;
    padding: 10px;
    display: inline-block;
}

.miniForecast h4 {
    font-weight:bold;
}

.miniDate {
    color: white;
}